    <!-- Panel -->
    <div id="toppanel">
       <div id="panel">
          <div class="content clearfix">
             <div class="left">
                <h1>Welcome to {SITENAME}</h1>
                <h2>content block 1</h2>      
                <p class="grey">something goes here</p>
                <h2>content block 2</h2>
                <p class="grey">something else goes here</p>
             </div>
             <div class="left">
                <!-- Login Form -->
                <form method="post" action="{S_LOGIN_ACTION}">
                   <h1>Member Login</h1>
                   <label class="grey" for="log">{L_USERNAME}:</label>
                   <input type="text" name="username" id="username" size="23" title="{L_USERNAME}" class="field" />
                   <label class="grey" for="pwd">{L_PASSWORD}:</label>
                   <input type="password" name="password" id="password" size="23" title="{L_PASSWORD}" class="field" />
                      <label><input type="checkbox" name="autologin" id="autologin" /> &nbsp;{L_LOG_ME_IN}</label>
                     <div class="clear"></div>
                   <input type="submit" name="login" value="{L_LOGIN}" class="bt_login" />
             {S_LOGIN_REDIRECT}
                   <br />
                         | <a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
                </form>
             </div>
             <div class="left right">         
                <!-- Register Form -->
                   <h1>Not a member yet? Sign Up!</h1>            
                   <p>A small message about registration here. You could always replace this block with an advert</p>
                   <a href="{U_REGISTER}" class="bt_register">{L_REGISTER}</a>
             </div>
          </div>
    </div> <!-- /login -->   

       <!-- The tab on top -->   
       <div class="tab">
          <ul class="login">
             <li class="left">&nbsp;</li>
             <li>Hello Guest!</li>
             <li class="sep">|</li>
             <li id="toggle">
                <a id="open" class="open" href="#">{L_REGISTER}</a>
                <a id="close" style="display: none;" class="close" href="#">Close Panel</a>         
             </li>
             <li class="right">&nbsp;</li>
          </ul>
       </div> <!-- / top -->
       
    </div> <!--panel -->